.noteScreen{
    width:100vw;
    height:100vh;
    position:fixed;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background: #0009;
    top:0;
    right:0;
    z-index:10000;
    display: none;

    .exit{
        width:3.5rem;
         height:3.5rem;
         border-radius: 50%;
         display:flex;
         font-size:2rem;
         color:red;
         align-items: center;
         justify-content: center;
         background-color: #fff2;
         font-family: "Poppins";
         cursor: pointer;
         margin-top:5rem;
         border:1.5px solid #fff8;

    }
    .hideNote{
        transition: all .3s linear;
        width:0;
        height:0;
        display: hidden;
        .prag{
            opacity: 0;
            transition: all .1s;
        }
        .mark{
            opacity: 0;
            transition: all .1s linear;
        }
    }
    .noteBlog{
        transition: all .3s linear;
        width:350px;
        padding:2rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color: #169F0A;
        animation: noteblog .7s linear
          infinite forwards;

         @keyframes noteblog {
            0%{
                transform: scale(1);
            }
            50%{
                transform: scale(1.1);
            }
            100%{
                transform: scale(1);
            }
         }
        .mark{
            opacity: 1;
            transition: all .5s linear;
        }
       .prag{
        transition: all .5s linear;
        display: inherit;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        big{
            font-size: 2.5rem;
            width:100%;
        }
        p{
            font-size: 1.7rem;
            line-height: 2.5rem;
        }
        .bigOk{
            width:50px;
            margin:10px;
            cursor: pointer;
        }
       }
    }
}
.contact{
    width: 100%;
    background: $secodery;
    padding: 50px;
    margin: 0;

    display:flex;
    justify-content: space-between;
    .form{
        h3{
            padding:10px;
            font-size:13px;
            border-radius:10px;
            border:1px solid $gray;
            margin:10px auto;
            font-family: "Poopins";
        }
        .err{
            border-color: red;
            color:red;
        }
        .succ{
            color:#0076ff;
            border-color: #0076ff;
        }

        .note{
            color:#deebe7;
            border-color:#deebe7;

            big{
                color:#deebe7;
            }
            span{
                color:rgb(243, 219, 5)
            }
        }
        display:flex;
        flex-direction: column;
        label{
            font-size: 20px;
            font-weight:300;
            font-family:arial;
            color: $gray;
        }

        input{
            font-size:17px;
            padding:5px;
            border-radius: 5px;
            border:none;
            margin-top:10px;
            background: #0006;
            color:$gray;
        }
        button{
            font-size:20px;
            font-family:arial;
            padding:5px 3px;
            border:none;
            box-shadow:0 0 2px 2px #0003;
            margin:10px 0;
            border-radius: 7px;
            background-color: $gray;
            cursor: pointer;
            font-family: arial;
        }
        textarea{
            border-radius: 7px;
            font-size:17px;
            background: #0006;
            color:$gray;
            padding:5px;
        }
    }

    .Text{
        .head{
            font-size: 3.5rem;
            font-family: "Poppins";
            color:#deebe7;
        }
        .prag{
            font-size: 20px;
            font-family: "Poppins";
            color:white;
           
        }
    }
}

@media screen and (max-width:700px) {
    .contact{
       flex-direction: column;
       padding: 50px 15px;
       .Text{
        #img{
            width:100%;
        }
       }
    }
    .noteScreen{

        .noteBlog{
            width:80%;
        }
    }
}