$primery:#FFFFFF;
$secodery:#7203A6;
$black:#000000;
$gray:#BFB8B8;
$light: #F0F0F5;
$dark:#0F1221;
$skills:#5E3AEE;

$primeryFontSize:5rem;
$logoFontSize:2.7rem;
$navFontSize:2.6rem;
$primeryFont:"Poppins";
